<template>
  <div id="app">
    <p>{{ message }}</p>
    <% helpers = ActionController::Base.helpers %>
    <%= helpers.image_tag "clinic.jpeg" %>
  </div>
</template>

<script>

export default {
  data: function () {
    return {
      message: "Hello x!"
    }
  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>